<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.generator.mapper.GenWordRecordMapper">
    
    <resultMap type="GenWordRecord" id="GenWordRecordResult">
        <result property="id"    column="id"    />
        <result property="chinese"    column="chinese"    />
        <result property="english"    column="english"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectGenWordRecordVo">
        select id, chinese, english, create_by, create_time, update_by, update_time from gen_word_record
    </sql>

    <select id="selectGenWordRecordList" parameterType="GenWordRecord" resultMap="GenWordRecordResult">
        <include refid="selectGenWordRecordVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="chinese != null  and chinese != ''"> and chinese = #{chinese}</if>
            <if test="english != null  and english != ''"> and english = #{english}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectGenWordRecordById" parameterType="Long" resultMap="GenWordRecordResult">
        <include refid="selectGenWordRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGenWordRecord" parameterType="GenWordRecord">
        insert into gen_word_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="chinese != null">chinese,</if>
            <if test="english != null">english,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="chinese != null">#{chinese},</if>
            <if test="english != null">#{english},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateGenWordRecord" parameterType="GenWordRecord">
        update gen_word_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="chinese != null">chinese = #{chinese},</if>
            <if test="english != null">english = #{english},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGenWordRecordById" parameterType="Long">
        delete from gen_word_record where id = #{id}
    </delete>

    <delete id="deleteGenWordRecordByIds" parameterType="Long">
        delete from gen_word_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>